//Colors 
$darkGreenColor:#00C76D;
$lightGreenColor:#96CE8B;
$darkGrayColor:#8C9CA6;
$lightBrownColor:#A19A93;
$darkBlueColor:#005689;
$lightBlueColor:#83B5C6;
$lightOrangeColor:#D99D6D;
$lightMauveColor:#776A90;
$BlueColor:#005689;