#features {
    .title {
        h1{
            color: #005689;
            font-size: 30px;
            position: relative;

            &:before,&::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 49%;
                z-index: 1;
                width: 14px;
                height: 14px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background-clip: padding-box;
                background: #00e689;
            }

            &::after  {
                right: 51%;
            }
        }

    }
    .image {
        background: #F7F7F7;
        border-radius: 50%;
        box-shadow: 0px 3px 6px #00000029;
    }

    h2 {
        color: #005689;
        font-size: 18px;
    }
    p{
        color: #505050;
        font-size: 16px;
    }
    
}
