@include font-face(TheSans, '../fonts/TheSans/plain/TheSansArabic-Plain');
@include font-face(HelveticaNeueLT, '../fonts/HelveticaNeueLT/bold/HelveticaNeueLT-Bold');
@include font-face(HelveticaNeueLTR, '../fonts/HelveticaNeueLT/regular/HelveticaNeueLT-regular');

body,
html {
  width: 100%;
  height: 100%;
  direction: rtl;
  background: white;
  @include HelveticaNeueLTR-font;
}

body.ar {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include HelveticaNeueLT-font;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}


//============================================= Seletions


::-moz-selection {
  color: white;
  background: $darkGrayColor;
  text-shadow: none;
}

::selection {
  color: white;
  background: $darkGrayColor;
  text-shadow: none;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $darkGrayColor;
}


//============================================= text direction

.ltr {
  direction: ltr
}

.ltr-bidi {
  direction: ltr;
  unicode-bidi: bidi-override;
}

.rtl {
  direction: rtl
}

//============================================= links

a {
  color: $darkBlueColor;
  text-decoration: none !important;

  &:focus,
  &:hover {
    color: darken($darkBlueColor, .1);
  }
}

a.link-primary {
  color: $darkGreenColor;
}

a.link-dark {
  color: $darkGrayColor;
}


// Aligns 
.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}


/* bootstrap overwrite */
.dropdown-menu {
  background: rgba(255, 255, 255, 0.69);
  border: 1px solid #005689;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 300px;

  .dropdown-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 21.54px;
    text-align: right;
    color: #005689;
    border-bottom: 1px dashed #005689;
    padding: 16px 8px;

    &:hover,
    &:focus {
      background: none;
      border-color: #84939e;
    }
  }
}

.btn-primary {
  background: #00C76D;
  border: 1px;
  padding-bottom: 10px;
  color: #fff;
  padding: 10px 20px;
  @include HelveticaNeueLTR-font;


  &:hover {
    background: #6D6E70;
  }
}

.btn-secondary {
  background: #005689;
  border: none;
  padding-bottom: 10px;
  color: #fff;
  @include HelveticaNeueLTR-font;


  &:hover {
    background: #6D6E70;
  }
}


label {
  color: #505050;
  font-size: 15px;
}

.form-control {
  background-color: #fff;
  border: solid 1px #E6E6E6;
  box-shadow: 0 3px 6px #00000029;
  line-height: 32px;
  min-height: 50px;
}

.nav-pills .nav-link.active {
  background-color: #00C76D;
}

.table {
  color: #505050;
  font-size: 14px;
}

.table .thead-light th {
  background-color: #F2F2F2 !important;
  color: #505050 !important;
  font-size: 15px;
}



button {
  padding: 15px 60px 18px;

}

img.img-icon30 {
  width: 30px;
  height: 30px;
}

img.img-icon50 {
  width: 50px;
  height: 50px;
}

img.img-icon80 {
  width: 80px;
  height: 80px;
}

img.img-icon120 {
  width: 120px;
  height: 120px;
}