/* Header navbar */

header {
    .main-header {
        .navbar {
            .navbar-brand {
                margin-left: 30px;
            }

            ul.navbar-nav {
                li+.nav-item {
                    margin-right: 5px;
                }

                li {
                    margin: 0;

                    a.nav-link {
                        font-size: 12px;
                        color: #005689;
                        font-weight: bold;
                        border-radius: 30px;
                        padding-left: 20px;
                        padding-right: 20px;
                        margin-bottom: 10px;

                        &.active,
                        &:hover {
                            background: #54AC5E;
                            border-radius: 50px;
                            color: #fff;
                        }

                    }

                }
            }

            ul.login_menu {

                li {
                    margin: 0;

                    a.nav-link {
                        font-size: 12px;
                        color: #505050;
                        font-weight: bold;
                        border-radius: 25px;
                        padding-left: 20px;
                        padding-right: 20px;
                        border: solid 1px #E5E5E5;

                        &.active,
                        &:hover {
                            background: #005689;
                            border-radius: 50px;
                            color: #fff;
                        }

                        &.noborder {
                            border: 0;

                            &.active,
                            &:hover {
                                background: none;
                                border-radius: 50px;
                                color: #005689;
                            }

                        }

                    }

                }
            }

        }

    }
}

.front header {
    background: none;
    box-shadow: none;
}


.google-login {
    a {
        background: #DD4B39;
        border: none;
        border-radius: 1px;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 10px;
        color: #fff;
        margin-bottom: 50px;
    }
}

.paragrapgh-login {
    font-size: 11px;
    color: #5c5b5b;
}

.modal {
    h2 {
        color: #005689;
        font-size: 25px;
        position: relative;
    }
}


u {
    color: #005689;
    // margin-right: 40px;
    text-align: left;

}

p {
    font-size: 16px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-inputs {
    input {
        margin: 10px 0;
        box-shadow: 1px 2px 2px #00000029;
    }

}

input[type="checkbox"] {
    box-shadow: 1px 2px 2px #00000029;
}

.or {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.btn-modal {
    background: #00C76D;
    @include HelveticaNeueLTR-font;
    border-radius: 1px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 232px;
    color: #fff;
    text-align: center;
    margin-right: 120px;

    &:hover {
        background: #6D6E70;
        color: #fff;
    }
}
