/* No CSS */
.overlay {
  /*background-attachment: fixed;*/
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.overlay::before {
  z-index: -1;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.hero-section {
  padding: 100px 0 0;
  background-image: url("../images/bg.png");
}

.hero-section .tab-content {
  padding: 40px;
  background: #fff;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 5px;
}

.hero-section .tab-content .label {
  color: #6D6E70;
  font-size: 16px;
}

.hero-section .tab-content input {
  background: none;
  border: 0;
  border-bottom: solid 1px #6D6E70;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #97A3AE;
  font-size: 14px;
}

#application {
  background-image: url("../images/application.png");
  position: relative;
  padding: 95px 0 32px;
  margin-bottom: 75px;
  border: 1px solid #707070;
}

#application::before {
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(#6ea7ba), to(#37545d));
  background: linear-gradient(#6ea7ba 0%, #37545d 100%);
  opacity: 0.87;
  -webkit-filter: drop-shadow(0px 3px 92px rgba(0, 0, 0, 0.48));
          filter: drop-shadow(0px 3px 92px rgba(0, 0, 0, 0.48));
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

#application .text {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding-right: 77px;
  padding-left: 77px;
  text-align: justify;
  text-align-last: center;
  line-height: 33px;
}

#application .app {
  position: absolute;
  bottom: -32px;
  z-index: 99;
}

#application .apps h2 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.section {
  padding: 30px 0;
}

.section .title {
  margin-right: 32px;
  padding-right: 32px;
  position: relative;
  margin-bottom: 55px;
}

.section .title::before {
  content: "";
  background: #00C4B3;
  width: 12px;
  height: 52px;
  position: absolute;
  right: 0;
}

.section .title h2 {
  color: #00C4B3;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 18px;
  border-bottom: solid 1px #D1D8DC;
}

.section .title h2 span {
  font-size: 22px;
  border-bottom: solid 1px #00B3A8;
  padding-right: 18px;
  padding-bottom: 16px;
  margin-top: 24px;
}

.section .title h2 span a {
  color: #81919B;
}

#products {
  background: white;
}

#projects {
  background: #f8f8f8;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

#projects .slick-slide {
  background: #fff;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin: 0 7px;
  padding: 22px 16px;
}

#projects .slick-slide .project_title {
  background: #8C9CA6;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 25px 0;
}

#projects .slick-slide .project_title a {
  color: white;
}

#projects .slick-slide .project_labels {
  border: solid 1px #84939E;
  border-top: 0;
  padding: 22px 0 0;
}

#projects .slick-slide .project_labels .labels {
  padding: 0 40px;
  color: #84939E;
  background: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -10px;
  display: table;
}

#projects .slick-slide .project_labels .labels ul {
  margin: 0;
}

#projects .slick-slide .project_labels .labels ul li {
  font-size: 24px;
  margin: 0 12px;
}

#projects .slick-slide .project_labels .labels ul li.list-inline-item:not(:last-child) {
  position: relative;
  margin-left: 12px;
}

#projects .slick-slide .project_labels .labels ul li.list-inline-item:not(:last-child)::after {
  content: "-";
  position: absolute;
  left: -19px;
  font-size: 24px;
  font-weight: bold;
}

#projects .slick-slide .project_labels .labels .new {
  color: #00BAA4;
}
/*# sourceMappingURL=home.css.map */