#stories {
	background: #fff;
	width: 100%;
	float: right;
	font-size: 16px;

    .title {
        h1{
            color: #005689;
            font-size: 25px;
            position: relative;

            &:before,&::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 49%;
                z-index: 1;
                width: 14px;
                height: 14px;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background-clip: padding-box;
                background: #00e689;
            }

            &::after  {
                right: 51%;
            }
        }

    }

    .story {
    	border:solid 1px #E3E3E3;
 		box-shadow: 0 3px 16px #00000029;

 		h2 {
 			color: #000000;
 			font-size: 18px;
 		}

 		p{
            font-size: 14px;
 			color: #5c5b5b;
         }
         .btn-a {
            background: #00C76D;
            border: 1px;
            width: 300px;
            padding-bottom:10px; 
            color:#fff;
            @include HelveticaNeueLTR-font;
            
          
            &:hover {
              background: #6D6E70;
            }
          }
    }
    
}