.projects {

	h2 {
		font-size: 16px;
	    color: #005689;
   	}
   	
	.sub-title {
		h3 {
			font-size: 17px;
			color: #939393;
		}
	}

	.project {
		border-bottom: solid 1px #EEEEEE;

		h2 {
			font-size: 16px;
			color: #005689;

			a {
				color: #505050;
			}
		}
		p {
			color: #505050;
			font-size: 14px;
		}

		a {
			font-size: 13px;
		}

		ul {
			padding: 0;
			li {
				font-size: 14px;
				color: #505050;
				margin-right: 0;
				margin-left: 20px;

				img {
					width: 30px;
					height:30px;
				}

				.bg-light {
					border-radius: 20px;
				}
			}
		}
	}
}


/* sidebar */
.project-info {
	.bg-success {
		padding: 0 20px 3px;
		background-color :#EFFFCC !important;
		border:solid 1px #D5F889;
		color: #505050;
		border-radius: 20px;
		font-size:13px;
	}

	.bg-light {
		padding: 0 20px 3px;
		border-radius: 20px;
		font-size: 13px;
	}
}


.project {



	.block {

		border-bottom: solid 1px #EEEEEE;
		h2 {
			font-size: 18px;
			color: #005689;

			&.dark {
				color: #939393;
			}
		}

		p {
			color: #505050;
			font-size: 14px;
			line-height: 32px;
		}

		ul {
			padding: 0;
			li {
				font-size: 14px;
				color: #505050;
			}
		}

		.comment {
			background :#FCFCFC ;
			border: solid 1px #E3E3E3;
			.info {
				img {
					width: 40px;
				}
			}
		}

		label {
			color: #505050;
		}

		.form-control {
			background-color: #fff;
			border: solid 1px #E6E6E6;
			box-shadow:  0 3px 6px #00000029;
			line-height: 44px;
		}

		button {
			padding: 15px 60px;
		}
	}
}