@font-face {
  font-family: "TheSans";
  src: url("../fonts/TheSans/plain/TheSansArabic-Plain.eot");
  src: url("../fonts/TheSans/plain/TheSansArabic-Plain.eot?#iefix") format("embedded-opentype"), url("../fonts/TheSans/plain/TheSansArabic-Plain.woff") format("woff"), url("../fonts/TheSans/plain/TheSansArabic-Plain.ttf") format("truetype"), url("../fonts/TheSans/plain/TheSansArabic-Plain.svg#TheSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HelveticaNeueLT";
  src: url("../fonts/HelveticaNeueLT/bold/HelveticaNeueLT-Bold.eot");
  src: url("../fonts/HelveticaNeueLT/bold/HelveticaNeueLT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLT/bold/HelveticaNeueLT-Bold.woff") format("woff"), url("../fonts/HelveticaNeueLT/bold/HelveticaNeueLT-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueLT/bold/HelveticaNeueLT-Bold.svg#HelveticaNeueLT") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HelveticaNeueLTR";
  src: url("../fonts/HelveticaNeueLT/regular/HelveticaNeueLT-regular.eot");
  src: url("../fonts/HelveticaNeueLT/regular/HelveticaNeueLT-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLT/regular/HelveticaNeueLT-regular.woff") format("woff"), url("../fonts/HelveticaNeueLT/regular/HelveticaNeueLT-regular.ttf") format("truetype"), url("../fonts/HelveticaNeueLT/regular/HelveticaNeueLT-regular.svg#HelveticaNeueLTR") format("svg");
  font-weight: normal;
  font-style: normal; }

body,
html {
  width: 100%;
  height: 100%;
  direction: rtl;
  background: white;
  font-family: 'HelveticaNeueLTR', 'HelveticaNeueLT-Regular', Arial, sans-serif; }

body.ar {
  text-align: right; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'HelveticaNeueLT', 'HelveticaNeueLT-Bold', Arial, sans-serif; }

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px; }

::-moz-selection {
  color: white;
  background: #8C9CA6;
  text-shadow: none; }

::selection {
  color: white;
  background: #8C9CA6;
  text-shadow: none; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #8C9CA6; }

audio:focus {
  outline: none; }

.ltr {
  direction: ltr; }

.ltr-bidi {
  direction: ltr;
  unicode-bidi: bidi-override; }

.rtl {
  direction: rtl; }

a {
  color: #005689;
  text-decoration: none !important; }
  a:focus, a:hover {
    color: #005688; }
  a.disabled {
    color: gray;
    pointer-events: none; }

a.link-primary {
  color: #00C76D; }

a.link-dark {
  color: #8C9CA6; }

.ltr {
  direction: ltr; }

.rtl {
  direction: rtl; }

/* bootstrap overwrite */
.dropdown-menu {
  background: #fff;
  border: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 300px; }
  .dropdown-menu .dropdown-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 21.54px;
    text-align: right;
    color: #005689;
    border-bottom: 1px solid #E5E5E5;
    padding: 16px 8px; }
    .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
      background: none;
      border-color: #84939e; }

.btn-primary {
  background: #00C76D;
  border: 1px;
  padding-bottom: 10px;
  color: #fff;
  padding: 10px 20px 14px;
  font-family: 'HelveticaNeueLTR', 'HelveticaNeueLT-Regular', Arial, sans-serif; }
  .btn-primary.rounded {
    border-radius: 20px !important; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #6D6E70 !important;
    box-shadow: none !important; }
.btn-primary.disabled, .btn-primary:disabled {
  background-color:  silver !important;
}
.btn-secondary {
  background: #005689;
  border: none;
  padding-bottom: 10px;
  color: #fff;
  font-family: 'HelveticaNeueLTR', 'HelveticaNeueLT-Regular', Arial, sans-serif; }
  .btn-secondary.rounded {
    border-radius: 20px !important; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background: #6D6E70 !important;
    box-shadow: none !important; }

.bg-primary {
  background: #00C76D !important; }

label {
  color: #505050;
  font-size: 15px; }

.form-control {
  background-color: #fff;
  border: solid 1px #E6E6E6;
  box-shadow: 0 3px 6px #00000029;
  line-height: 32px;
  min-height: 50px;
  overflow-x: hidden; }

.nav-pills .nav-link.active {
  background-color: #00C76D; }

.table {
  color: #505050;
  font-size: 17px; }

.table .thead-light th {
  background-color: #F2F2F2 !important;
  color: #505050 !important;
  font-size: 15px; }

.nav-tabs {
  border-bottom: 0;
  margin-bottom: 30px; }
  .nav-tabs .nav-item {
    margin-left: 20px; }
    .nav-tabs .nav-item .nav-link {
      font-weight: bold;
      color: #505050;
      font-size: 14px; }
      .nav-tabs .nav-item .nav-link.active {
        border: 0 !important;
        background: #005689;
        border-radius: 20px;
        color: #fff; }
      .nav-tabs .nav-item .nav-link:hover {
        border: 0 !important;
        background: #005689;
        border-radius: 20px;
        color: #fff; }

.card {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: solid 1px #D3D3D3;
  padding: 10px 0; }
  .card .card-header {
    background-color: transparent;
    border: 0; }
    .card .card-header .card-link {
      color: #505050;
      font-weight: bold; }
      .card .card-header .card-link i {
        background: #505050;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        color: #fff;
        font-size: 21px; }
      .card .card-header .card-link.colorful {
        color: #005689; }
        .card .card-header .card-link.colorful i {
          background: #015689;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          text-align: center;
          color: #fff;
          font-size: 21px; }
  .card .card-body {
    color: #505050; }

button {
  padding: 15px 60px 18px; }

.list-inline-item:not(:last-child) {
  margin-right: 0;
  margin-left: .5rem; }

.starred {
  color: #D58403; }

img.img-icon30 {
  width: 30px;
  height: 30px; }

img.img-icon50 {
  width: 50px;
  height: 50px; }

img.img-icon80 {
  width: 80px;
  height: 80px; }

img.img-icon120 {
  width: 120px;
  height: 120px; }

.btn-group {
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap; }

#socialShare .dropdown-menu {
  min-width: 120px;
  border: 0; }

#socialShare .dropdown-menu li {
  float: right;
  margin: 4px; }

.mobile-social-share ul {
  float: right;
  list-style: none outside none;
  margin: 0;
  min-width: 61px;
  padding: 0; }

.share {
  min-width: 17px; }

.mobile-social-share li {
  display: block;
  font-size: 18px;
  list-style: none outside none;
  margin-bottom: 3px;
  margin-left: 4px;
  margin-top: 3px; }

.btn-share {
  background-color: #BEBEBE;
  border-color: #CCCCCC;
  color: #333333; }

.btn-twitter {
  background-color: #3399CC !important;
  width: 51px;
  color: #FFFFFF !important; }

.btn-facebook {
  background-color: #3D5B96 !important;
  width: 51px;
  color: #FFFFFF !important; }

.btn-facebook {
  background-color: #3D5B96 !important;
  width: 51px;
  color: #FFFFFF !important; }

.btn-google {
  background-color: #DD3F34 !important;
  width: 51px;
  color: #FFFFFF !important; }

.btn-linkedin {
  background-color: #1884BB !important;
  width: 51px;
  color: #FFFFFF !important; }

.btn-pinterest {
  background-color: #CC1E2D !important;
  width: 51px;
  color: #FFFFFF !important; }

.btn-mail {
  background-color: #FFC90E !important;
  width: 51px;
  color: #FFFFFF !important; }

.caret {
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0; }

#socialShare > a {
  padding: 0;
  display: block !important; }



@media (max-width: 320px) {
  #socialHolder {
    padding-left: 5px;
    padding-right: 5px; }
  .mobile-social-share h3 {
    margin-left: 0;
    margin-right: 0; }
  #socialShare {
    margin-left: 5px;
    margin-right: 5px; }
  .mobile-social-share h3 {
    font-size: 15px; } }

@media (max-width: 238px) {
  .mobile-social-share h3 {
    font-size: 12px; } }

.rtl .dropdown-menu, [dir=rtl] .dropdown-menu {
  right: auto; }

div.custom-control-right {
  padding-right: 24px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0; }

div.custom-control-right .custom-control-label::after {
  right: -1.5rem;
  left: auto; }

div.custom-control-right .custom-control-label::before {
  right: -2.35rem;
  left: auto; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #00EB80;
  border-color: #ffffff;
  background-color: #ffffff;
  border: solid 1px #C6C6C6;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #00EB80;
  transform: translateX(0.75rem); }



.modal-backdrop {
  z-index: 0; }

/* Header navbar */
header .main-header .navbar .navbar-brand {
  margin-left: 30px;margin-right: 0 }

header .main-header .navbar ul.navbar-nav li + .nav-item {
  margin-right: 5px; }

header .main-header .navbar ul.navbar-nav li {
  margin: 0; }
  header .main-header .navbar ul.navbar-nav li a.nav-link {
    font-size: 12px;
    color: #005689;
    font-weight: bold;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px; }
    header .main-header .navbar ul.navbar-nav li a.nav-link.active, header .main-header .navbar ul.navbar-nav li a.nav-link:hover {
      background: #00EB80;
      border-radius: 50px;
      color: #fff; }
  header .main-header .navbar ul.navbar-nav li.notification-item .dropdown-toggle {
    color: #005689;
    font-size: 22px;
    padding-top: 0;
    box-shadow: none; }
    header .main-header .navbar ul.navbar-nav li.notification-item .dropdown-toggle:after {
      display: none; }
    header .main-header .navbar ul.navbar-nav li.notification-item .dropdown-toggle .count {
      position: absolute;
      top: -5px;
      right: 0;
      border-radius: 50%;
      background: #D58403;
      width: 25px;
      height: 25px;
      font-size: 14px;
      line-height: 25px;
      color: #fff;
      text-align: center; }
  header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown {
    min-width: 300px;
    background: #fff;
    border: 0; }
    header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown .dropdown-item {
      border-bottom: solid 1px #EEEEEE; }
      header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown .dropdown-item.bg {
        background: #005689;
        border-bottom: 0;
        color: #fff; }
    header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown .img {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: solid 3px #F2F2F2;
      text-align: center;
      vertical-align: middle;
      line-height: 34px; }
      header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown .img img {
        width: 20px;
        height: 20px; }
    header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown h6 {
      font-size: 13px; }
      header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown h6 span {
        font-size: 11px;
        color: #505050; }
    header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown p {
      color: #505050;
      font-size: 11px; }

header .main-header .navbar ul.login_menu li {
  margin: 0; }
  header .main-header .navbar ul.login_menu li a.nav-link {
    font-size: 12px;
    color: #505050;
    font-weight: bold;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px #E5E5E5; }
    header .main-header .navbar ul.login_menu li a.nav-link.active, header .main-header .navbar ul.login_menu li a.nav-link:hover {
      background: #005689;
      border-radius: 50px;
      color: #fff; }
    header .main-header .navbar ul.login_menu li a.nav-link.noborder {
      border: 0; }
      header .main-header .navbar ul.login_menu li a.nav-link.noborder.active, header .main-header .navbar ul.login_menu li a.nav-link.noborder:hover {
        background: none;
        border-radius: 50px;
        color: #005689; }

.front header {
  background: none;
  box-shadow: none; }

label.error {
  color: red;
  margin-top: 10px; }

.google-login a {
  background: #DD4B39;
  border: none;
  border-radius: 1px;
  padding: 10px 20px;
  color: #fff;
 }

  .google-login a:hover {
    color: #fff; }

.paragrapgh-login {
  font-size: 11px;
  color: #5c5b5b; }
.modal {
  text-align: center;
}
.modal h2 {
  color: #005689;
  font-size: 25px;
  position: relative; }

u {
  color: #005689;
  text-align: left; }

p {
  font-size: 16px; }

.form-inputs input {
  margin: 10px 0;
  box-shadow: 1px 2px 2px #00000029; }

input[type="checkbox"] {
  box-shadow: 1px 2px 2px #00000029; }

.or {
  text-align: center;
  font-size: 14px;
  margin-top: 10px; }

.btn-modal {
  background: #00C76D;
  font-family: 'HelveticaNeueLTR', 'HelveticaNeueLT-Regular', Arial, sans-serif;
  border-radius: 1px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 232px;
  color: #fff;
  text-align: center;
  }
  .btn-modal:hover {
    background: #6D6E70;
    color: #fff; }

/* import all needed inner files */
.inner .widget .title h2 {
  color: #005689;
  font-size: 30px;
  position: relative; }
  .inner .widget .title h2:before, .inner .widget .title h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0px;
    z-index: 1;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    background: #00e689; }
  .inner .widget .title h2::after {
    right: 22px; }

.inner .widget.widget-provider {
  background: #005689 url("../images/providerBG.svg") no-repeat bottom left;
  background-size: contain; }
  .inner .widget.widget-provider .title h2 {
    color: #fff; }

.inner .widget.widget-entrepreneur {
  background: #005689 url("../images/entrepreneurBG.svg") no-repeat bottom left;
  background-size: contain; }
  .inner .widget.widget-entrepreneur .title h2 {
    color: #fff; }

.inner #innerpage {
  position: relative;
  min-height: 200px; }
  .inner #innerpage:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 250px;
    background: #005689; }
  .inner #innerpage .sub-title h3 {
    font-size: 17px;
    color: #939393; }
  .inner #innerpage .title h1 {
    color: #fff;
    font-size: 30px;
    position: relative; }
    .inner #innerpage .title h1:before, .inner #innerpage .title h1::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 49%;
      z-index: 1;
      width: 14px;
      height: 14px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      background: #00e689; }
    .inner #innerpage .title h1::after {
      right: 51%; }
  .inner #innerpage .title h2 {
    font-size: 20px; }
  .inner #innerpage .bg-light {
    background-color: #fff !important;
    border: solid 1px #D6D6D6; }
    .inner #innerpage .bg-light.dark {
      background-color: #F5F5F5 !important;
      border: 0; }
    .inner #innerpage .bg-light.light-dark {
      background-color: #FCFCFC !important;
      border: solid 1px #DEDEDE;
      box-shadow: 0 3px 6px #00000029; }
      .inner #innerpage .bg-light.light-dark a {
        color: #212529; }
  .inner #innerpage .alert-info {
    color: #B59302;
    background-color: #FFFCF4;
    border-color: #B59302; }
  .inner #innerpage .block .block-title h2 {
    font-size: 20px;
    color: #005689; }
  .inner #innerpage .block .block-content .check-item {
    line-height: 32px;
    color: #505050; }
  .inner #innerpage .provider-block h2 {
    font-size: 20px;
    color: #000000; }
  .inner #innerpage .provider-block p {
    font-size: 16px;
    color: #505050;
    margin-bottom: 5px; }
  .inner #innerpage .provider-block a {
    font-size: 14px;
    line-height: 32px; }
  .inner #innerpage .pagination .page-item .page-link {
    color: #505050;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    line-height: 40px;
    text-align: center;
    margin: 0 5px; }
  .inner #innerpage .pagination .page-item.active .page-link {
    background-color: #005689;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 0 3px 6px #00000029; }
  .inner #innerpage .sidaber h2 {
    font-size: 20px;
    color: #005689; }
  .inner #innerpage .sidaber .author h2 {
    font-size: 20px;
    color: #005689; }
  .inner #innerpage .wrapper {
    z-index: 1; }
    .inner #innerpage .wrapper .title h2 {
      color: #005689; }
  .inner #innerpage #ExperienceBox {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear; }
    .inner #innerpage #ExperienceBox.open {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s; }
  .inner #innerpage .gallery-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
    margin-bottom: 14px;
    /*--checkbox--*/
    /* Hide the browser's default checkbox */
    /* Create a custom checkbox */
    /* On mouse-over, add a grey background color */
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* Style the checkmark/indicator */ }
    .inner #innerpage .gallery-card .gallery-card-body {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      /*padding: 1.25rem;*/ }
    .inner #innerpage .gallery-card .gallery-card img {
      height: 100px;
      width: 100%; }
    .inner #innerpage .gallery-card label {
      margin-bottom: 0 !important; }
    .inner #innerpage .gallery-card .block-check {
      display: block;
      position: relative;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .inner #innerpage .gallery-card .block-check input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
    .inner #innerpage .gallery-card .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      cursor: pointer; }
    .inner #innerpage .gallery-card .block-check:hover input ~ .checkmark {
      background-color: #ccc; }
    .inner #innerpage .gallery-card .block-check input:checked ~ .checkmark {
      background-color: #2196F3; }
    .inner #innerpage .gallery-card .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
    .inner #innerpage .gallery-card .block-check input:checked ~ .checkmark:after {
      display: block; }
    .inner #innerpage .gallery-card .block-check .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .inner #innerpage .gallery-card .mycard-footer {
      height: 25px;
      background: #333333;
      font-size: 15px;
      text-indent: 10px;
      /* border-radius: 0 0px 4px 4px;*/ }

.notifactions .notifaction-item {
  border-bottom: solid 1px #EEEEEE; }
  .notifactions .notifaction-item h2 {
    font-size: 16px;
    color: #005689; }
    .notifactions .notifaction-item h2 span {
      font-size: 13px;
      color: #939393;
      font-weight: normal; }
  .notifactions .notifaction-item p {
    color: #505050;
    font-size: 14px; }

.projects h2 {
  font-size: 16px;
  color: #005689; }

.projects .sub-title h3 {
  font-size: 17px;
  color: #939393; }

.projects .project {
  border-bottom: solid 1px #EEEEEE; }
  .projects .project h2 {
    font-size: 16px;
    color: #005689; }
    .projects .project h2 a {
      color: #505050; }
  .projects .project p {
    color: #505050;
    font-size: 14px; }
  .projects .project a, .projects .project label {
    font-size: 13px;
    margin-bottom: 0; }
  .projects .project ul {
    padding: 0; }
    .projects .project ul li {
      font-size: 13px;
      color: #505050;
      margin-right: 0;
      margin-left: 5px; }
      .projects .project ul li img {
        width: 30px;
        height: 30px; }
      .projects .project ul li .bg-light {
        border-radius: 20px; }

/* sidebar */
.project-info .bg-success {
  padding: 0 20px 3px;
  background-color: #EFFFCC !important;
  border: solid 1px #D5F889;
  color: #505050;
  border-radius: 20px;
  font-size: 13px; }

.project-info .bg-light {
  padding: 0 20px 3px;
  border-radius: 20px;
  font-size: 13px; }

.project .block {
  border-bottom: solid 1px #EEEEEE; }
  .project .block h2 {
    font-size: 18px;
    color: #005689; }
    .project .block h2.dark {
      color: #939393; }
  .project .block p {
    color: #505050;
    font-size: 14px;
    line-height: 32px; }
  .project .block ul {
    padding: 0; }
    .project .block ul li {
      font-size: 14px;
      color: #505050; }
  .project .block .comment {
    background: #FCFCFC;
    border: solid 1px #E3E3E3; }
    .project .block .comment .info img {
      width: 40px; }
  .project .block label {
    color: #505050; }
  .project .block .form-control {
    background-color: #fff;
    border: solid 1px #E6E6E6;
    box-shadow: 0 3px 6px #00000029;
    line-height: 42px; }
  .project .block button {
    padding: 15px 60px; }

.services .service {
  border-bottom: solid 1px #EEEEEE; }
  .services .service h2 {
    font-size: 16px;
    color: #505050; }
    .services .service h2 a {
      color: #505050;
      font-size: 18px; }
  .services .service p {
    color: #505050;
    font-size: 14px; }
  .services .service a, .services .service label {
    font-size: 13px;
    margin-bottom: 0; }
  .services .service ul {
    padding: 0; }
    .services .service ul li {
      font-size: 14px;
      color: #505050;
      margin-right: 0;
      margin-left: 5px; }
      .services .service ul li img {
        width: 20px;
        height: 20px; }
      .services .service ul li .bg-light {
        border-radius: 20px; }
  .services .service .service_bar .bg-light {
    padding: 0px 20px 3px;
    border-radius: 50px; }
  .services .service .service_bar img {
    width: 30px;
    height: 30px; }

.service .block {
  border-bottom: solid 1px #EEEEEE; }
  .service .block h2 {
    font-size: 18px;
    color: #005689; }
    .service .block h2.dark {
      color: #939393; }
  .service .block p {
    color: #505050;
    font-size: 14px;
    line-height: 32px; }
  .service .block ul {
    padding: 0; }
    .service .block ul li {
      font-size: 14px;
      color: #505050; }
  .service .block .comment img {
    width: 40px; }
  .service .block label {
    color: #505050; }
  .service .block .form-check-input {
    margin-right: auto; }
  .service .block .form-control {
    background-color: #fff;
    border: solid 1px #E6E6E6;
    box-shadow: 0 3px 6px #00000029;
    line-height: 44px; }
  .service .block button {
    padding: 15px 60px; }

.profile .sidaber .btn-light {
  font-size: 14px;
  border: solid 1px #E5E5E5;
  border-radius: 20px;
  padding-bottom: 14px; }

.profile .sidaber h2 {
  color: #005689; }

.profile .sidaber ul {
  padding-left: 0; }
  .profile .sidaber ul.list-group-flush li {
    color: #505050; }
    .profile .sidaber ul.list-group-flush li:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.125); }
    .profile .sidaber ul.list-group-flush li:after {
      content: "\f104";
      position: absolute;
      top: 14px;
      left: 20px;
      color: #505050;
      font-weight: bold;
      display: inline-block;
      font: normal normal normal 18px/1 FontAwesome; }
    .profile .sidaber ul.list-group-flush li a {
      color: #505050;
      position: relative; }
  .profile .sidaber ul.info li {
    margin-left: 30px;
    color: #505050; }
    .profile .sidaber ul.info li:last-child {
      margin-left: 0; }
    .profile .sidaber ul.info li a {
      color: #505050; }

.profile .profile-head-menu ul li {
  margin-left: 20px; }
  .profile .profile-head-menu ul li a {
    color: #505050; }
    .profile .profile-head-menu ul li a.active {
      padding-bottom: 12px;
      color: #005689;
      border-bottom: solid 3px #005689; }

.profile .profile-content {
  /* Rounded sliders */ }
  .profile .profile-content p {
    font-size: 13px; }
  .profile .profile-content .switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 24px; }
  .profile .profile-content .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  .profile .profile-content .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  .profile .profile-content .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .profile .profile-content input:checked + .slider {
    background-color: #00e689; }
  .profile .profile-content input:focus + .slider {
    box-shadow: 0 0 1px #00e689; }
  .profile .profile-content input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  .profile .profile-content .slider.round {
    border-radius: 34px;
    min-height: 0px !important; }
  .profile .profile-content .slider.round:before {
    border-radius: 50%; }
  .profile .profile-content .dropdown-menu {
    right: auto !important;
    border: 0; }
    .profile .profile-content .dropdown-menu .dropdown-item {
      border: 0;
      color: #939393; }
  .profile .profile-content h2.dark {
    font-size: 16px;
    color: #939393; }
  .profile .profile-content .bg-dark {
    background-color: #000000 !important;
    color: #FCD462 !important; }
  .profile .profile-content span.circle {
    width: 32px;
    height: 32px;
    background-color: #005689 !important;
    color: #FCD462;
    display: inline-block; }
  .profile .profile-content .box {
    border: solid 1px #E3E3E3;
    box-shadow: 0 3px 6px #00000029; }
    .profile .profile-content .box h2 {
      font-size: 16px;
      color: #505050; }
    .profile .profile-content .box p {
      color: #505050;
      font-size: 12px; }
    .profile .profile-content .box .price {
      color: #505050; }
      .profile .profile-content .box .price span {
        padding: 0px 10px 0px;
        border-radius: 10px;
        background: rgba(0, 86, 137, 0.13);
        color: #005689; }
        .profile .profile-content .box .price span.green {
          background: rgba(209, 63, 63, 0.13);
          color: #d13f3f; }
        .profile .profile-content .box .price span.red {
          background: rgba(26, 193, 12, 0.13);
          color: #1ac10c; }
  .profile .profile-content .btn-primary.rounded {
    margin-bottom: 0; }
  .profile .profile-content .btn-secondary.rounded {
    margin-bottom: 0; }

.profile .galleries .position-relative a {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 22;
  color: red;
  text-align: center;
  height: 100%;
  background: #00000061;
  padding-top: 30%; }
  .profile .galleries .position-relative a i {
    background: red;
    color: #ffff;
    padding: 12px;
    border-radius: 50%; }

.comments .comment img {
  display: inline-block;
  width: 60px !important;
  height: 60px;
  vertical-align: text-bottom; }

.cv-history h3 {
  font-size: 22px; }

.cv-history .cv-item {
  position: relative;
  border-right: solid 1px #505050; }
  .cv-history .cv-item:last-child {
    border-right: 0; }
  .cv-history .cv-item:first-child {
    border-right: solid 1px #505050; }
  .cv-history .cv-item h2 {
    font-size: 20px;
    color: #505050; }
  .cv-history .cv-item p {
    color: #000000; }
    .cv-history .cv-item p span {
      color: #939393; }
  .cv-history .cv-item:before {
    content: "";
    position: absolute;
    top: 0;
    right: -7px;
    width: 14px;
    height: 14px;
    background: #505050;
    border-radius: 50%; }

/* chat */
.messages {
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .messages ::-webkit-scrollbar {
    width: 7px; }
  .messages ::-webkit-scrollbar-track {
    background: #f1f1f1; }
  .messages ::-webkit-scrollbar-thumb {
    background: #a7a7a7; }
  .messages ::-webkit-scrollbar-thumb:hover {
    background: #929292; }
  .messages ul {
    margin: 0;
    padding: 0; }
  .messages li {
    list-style: none; }
  .messages .user-wrapper, .messages .message-wrapper {
    overflow-y: auto; }
  .messages .voiceNote {
    width: 40px;
    height: 40px;
    border: solid 1px #939393;
    border-radius: 50%;
    text-align: center;
    color: #A3A3A3;
    line-height: 40px; }
    .messages .voiceNote a {
      color: #A3A3A3; }
  .messages .user-wrapper {
    background: #f3f3f3;
    height: 560px; }
  .messages .user {
    cursor: pointer;
    padding: 5px 0;
    position: relative;
    background-color: #F8F8F8;
    border: solid 1px #D6D6D6;
    border-right: 0; }
  .messages .user:hover {
    background: #eeeeee; }
  .messages .user:last-child {
    margin-bottom: 0; }
  .messages .pending {
    position: absolute;
    left: 8px;
    top: 9px;
    background: #00c76d;
    margin: 0;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 28px;
    color: #ffffff;
    font-size: 12px;
    text-align: center; }
  .messages .media-left {
    margin: 0 10px; }
  .messages .media-left img {
    width: 64px;
    height: 64px; }
  .messages .media-body p {
    margin: 6px 0; }
  .messages .message-wrapper {
    padding: 10px;
    height: 480px;
    background: #fff; }
  .messages .messages .message {
    margin-bottom: 15px; }
  .messages .messages .message:last-child {
    margin-bottom: 0; }
  .messages .received, .messages .sent {
    width: 45%;
    padding: 3px 10px;
    border-radius: 10px; }
  .messages .received {
    float: left;
    text-align: left; }
    .messages .received .message_content {
      background: #EDEDED;
      text-align: right;
      color: #3C3C3C;
      border-radius: 0 20px 20px 20px; }
  .messages .sent {
    float: right; }
    .messages .sent .message_content {
      background: #005689;
      color: #fff;
      text-align: right;
      border-radius: 20px 20px 0 20px; }
  .messages .message p {
    margin: 5px 0; }
  .messages .date {
    color: #777777;
    font-size: 12px; }
  .messages .active {
    background: #fff;
    border-left: 0; }
  .messages #inputArea {
    background: #F8F8F8;
    position: relative; }
  .messages .loaderWrapper {
    background-color: #01568973;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  .messages .loader,
  .messages .loader:before,
  .messages .loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em; }
  .messages .loader {
    color: #EDEDED;
    text-indent: -9999em;
    margin: 20px auto;
    font-size: 6px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
  .messages .loader:before,
  .messages .loader:after {
    position: absolute;
    top: 0;
    content: ''; }
  .messages .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .messages .loader:after {
    left: 1.5em; }

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em; }
  40% {
    box-shadow: 0 -2em;
    height: 5em; } }
  .messages input[type=text] {
    width: 100%;
    padding: 7px 20px;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #939393;
    color: #97A3AE;
    background-color: #fff; }
  .messages input[type=text]:focus {
    border: 1px solid #aaaaaa; }
  .messages .attach_file {
    position: absolute;
    left: 20px;
    color: #939393; }
    .messages .attach_file.disabled {
      color: gray;
      pointer-events: none; }
    .messages .attach_file i {
      margin: 10px;
      cursor: pointer;
      font-size: 20px; }
    .messages .attach_file i:hover {
      opacity: 0.6; }
    .messages .attach_file input {
      display: none; }

.login {
  background-color: #005689;
  color: #ffffff; }
  .login .info-login h2 {
    color: #ffffff;
    font-size: 23px;
    position: relative; }
    .login .info-login h2:before, .login .info-login h2::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 49%;
      z-index: 1;
      width: 14px;
      height: 14px;
      margin-top: 10px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      background: #00e689; }
    .login .info-login h2::after {
      right: 51%; }
  .login .info-login p {
    font-weight: bold; }
  .login-type .service_provider,
  .login-type .project_owner {
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    padding: 10px 20px;
    margin-right: 10px;
    transition: all 0.5s ease-in-out;
    padding-right: 10px;
    padding-left: 0px; }
    .login-type .service_provider:hover, .login-type .service_provider.active,
    .login-type .project_owner:hover,
    .login-type .project_owner.active {
      background: #fff;
      color: #000; }

.features   button {
  border-radius: 0;
}

.features .or span {
  background-color : #f1f1f1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
}

.features .google-login a {
  background: #DD4B39;
  border: none;
  border-radius: 0;
  padding: 10px 20px;
  color: #fff; }

.features .google-login .or {
  text-align: center;
  font-size: 14px;
  background-color: #EAEAEA;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin-right: 50%; }

.features .form-inputs {
  margin-bottom: 30px; }
  .features .form-inputs input {
    margin: 10px 0;
    box-shadow: 1px 2px 2px #00000029; }

.features input[type="checkbox"] {
  box-shadow: 1px 2px 2px #00000029; }


.features a , .features u {
  color: rgb(0, 230, 137) }


.numberCircle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #005689;
  color: #fff;
  text-align: center;
  line-height: 30px;
  display: inline-block; }

.service .team img {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: text-bottom; }

.service .team .team-info {
  display: inline-block;
  margin-top: 10px; }
  .service .team .team-info p {
    margin: 0; }

.service .comments .comment img {
  display: inline-block;
  width: 60px !important;
  height: 60px;
  vertical-align: text-bottom; }

.service del {
  color: red; }

/* sidebar */
.project-info .bg-success {
  padding: 0 20px 3px;
  background-color: #EFFFCC !important;
  border: solid 1px #D5F889;
  color: #505050;
  border-radius: 20px;
  font-size: 13px; }

.project-info .bg-light {
  padding: 0 20px 3px;
  border-radius: 20px;
  font-size: 13px; }

.projects {
  border-bottom: solid 1px #EEEEEE; }
  .projects h2 {
    font-size: 18px;
    color: #005689; }
    .projects h2.dark {
      color: #939393; }
  .projects p {
    color: #000;
    font-size: 14px;
    line-height: 32px;
    padding-left: 0px;
    padding-right: 0px; }
  .projects ul {
    padding: 0; }
    .projects ul li {
      font-size: 14px;
      color: #505050; }
  .projects .comment {
    background: #FCFCFC;
    border: solid 1px #E3E3E3; }
    .projects .comment .info img {
      width: 40px; }
  .projects label {
    color: #505050; }
  .projects .form-control {
    background-color: #fff;
    border: solid 1px #E6E6E6;
    box-shadow: 0 3px 6px #00000029;
    line-height: 44px;
    margin-bottom: 30px;
    resize: none; }
  .projects button {
    padding: 15px 60px; }
  .projects input::-webkit-input-placeholder {
    /* WebKit browsers */
    line-height: 1.5em; }

/* import all needed inner files */
#footer {
  width: 100%;
  float: right;
  background: #F8F8F8; }
  #footer .widget h2 {
    color: #005689;
    font-size: 14px; }
  #footer .widget ul li {
    line-height: 35px; }
    #footer .widget ul li a {
      font-size: 12px;
      color: #444444;
      padding-right: 25px;
      position: relative; }
      #footer .widget ul li a:before {
        content: "";
        position: absolute;
        right: 0;
        top: 14px;
        width: 10px;
        height: 10px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        background: #00e689; }
  #footer .widget .form-control {
    box-shadow: none !important;
    font-size: 12px; }
    #footer .widget .form-control:focus {
      box-shadow: none; }
  #footer p {
    font-size: 12px; }
    #footer p.copyright {
      color: #005689;
      font-weight: bold; }
  #footer ul.sociel li {
    font-size: 12px; }
    #footer ul.sociel li a {
      font-size: 12px;
      color: #444444; }
  #footer .payment-method-img {
    margin-left: 15px; }
  #footer .copyrights {
    background: #EFEFEF; }

/*.rtl .mr-auto, [dir=rtl] .mr-auto, .rtl .ml-auto, [dir=rtl] .ml-auto {
  margin-right: 0 !important;
  padding-right: 0 !important; }
*/

@media (max-width: 480px) {
  .projects .project ul li {
    font-size: 12px;
  }
  #subscribe  {
    font-size: 13px;
  }
  .profile .profile-head-menu ul {
    padding: 0;
    font-size: 13px;
  }
  .profile .profile-head-menu ul li {
    margin-bottom: 10px;
    margin-left: 5px;
  }
  .profile .profile-head-menu ul li a {

  }
  .profile .profile-head-menu ul li a.active {
    padding-bottom: 0;

  }

  .services .service ul li {
    font-size: 12px;
  }

  .services .service h2 {
    word-break: break-word;
  }
  .text-sm-center {
    text-align: center !important;
  }

/*  .inner #innerpage .bg-light {
    display: inline-block;
    padding: 0px 12px 4px;
  }*/
  #socialHolder {
    padding-left: 0px;
    padding-right: 0px; }



  .google-login a {
    padding-right: 22px;
    padding-left: 22px;
  }

  .navbar-nav {
    padding-right: 0;
  }

  .login-type .service_provider, .login-type .project_owner {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .btn-xs-block {
    width: 100% !important;
    display: block !important;
  }

  .features label {
    display: unset;
  }

  #messages  {
    padding: 0;
  }

  .messages .received, .messages .sent {
    width: calc(100% - 55px)
  }

  .buttonWrapper2 {
    margin-top: 10px;
  }

  .btn-primary {
    padding: 10px 6px 13px;
  }


  .login .info-login h2:before, .login .info-login h2::after ,
  #mix .title h1:before, #mix .title h1::after ,
  #stories .title h1:before, #stories .title h1::after ,
  #features .title h1:before, #features .title h1::after {
    right: 45%;
  }
  
  .login .info-login h2::after ,
  #mix .title h1::after ,
  #stories .title h1::after,
  #features .title h1::after {
    right: 55%;
  }
  
  header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown {
    margin-bottom: 10px;
  }


}

