@font-face {
  font-family: "TheSans";
  src: url("../fonts/TheSans/plain/TheSansArabic-Plain.eot");
  src: url("../fonts/TheSans/plain/TheSansArabic-Plain.eot?#iefix") format("embedded-opentype"), url("../fonts/TheSans/plain/TheSansArabic-Plain.woff") format("woff"), url("../fonts/TheSans/plain/TheSansArabic-Plain.ttf") format("truetype"), url("../fonts/TheSans/plain/TheSansArabic-Plain.svg#TheSans") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HelveticaNeueLT";
  src: url("../fonts/HelveticaNeueLT/bold/HelveticaNeueLT-Bold.eot");
  src: url("../fonts/HelveticaNeueLT/bold/HelveticaNeueLT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLT/bold/HelveticaNeueLT-Bold.woff") format("woff"), url("../fonts/HelveticaNeueLT/bold/HelveticaNeueLT-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueLT/bold/HelveticaNeueLT-Bold.svg#HelveticaNeueLT") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HelveticaNeueLTR";
  src: url("../fonts/HelveticaNeueLT/regular/HelveticaNeueLT-regular.eot");
  src: url("../fonts/HelveticaNeueLT/regular/HelveticaNeueLT-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLT/regular/HelveticaNeueLT-regular.woff") format("woff"), url("../fonts/HelveticaNeueLT/regular/HelveticaNeueLT-regular.ttf") format("truetype"), url("../fonts/HelveticaNeueLT/regular/HelveticaNeueLT-regular.svg#HelveticaNeueLTR") format("svg");
  font-weight: normal;
  font-style: normal; }

body,
html {
  width: 100%;
  height: 100%;
  direction: rtl;
  background: white;
  font-family: 'HelveticaNeueLTR', 'HelveticaNeueLT-Regular', Arial, sans-serif; }

body.ar {
  text-align: right; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'HelveticaNeueLT', 'HelveticaNeueLT-Bold', Arial, sans-serif; }

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px; }

::-moz-selection {
  color: white;
  background: #8C9CA6;
  text-shadow: none; }

::selection {
  color: white;
  background: #8C9CA6;
  text-shadow: none; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #8C9CA6; }

.ltr {
  direction: ltr; }

.ltr-bidi {
  direction: ltr;
  unicode-bidi: bidi-override; }

.rtl {
  direction: rtl; }

a {
  color: #005689;
  text-decoration: none !important; }
  a:focus, a:hover {
    color: #005688; }

a.link-primary {
  color: #00C76D; }

a.link-dark {
  color: #8C9CA6; }

.ltr {
  direction: ltr; }

.rtl {
  direction: rtl; }

/* bootstrap overwrite */
.dropdown-menu {
  background: rgba(255, 255, 255, 0.69);
  border: 1px solid #005689;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 300px; }
  .dropdown-menu .dropdown-item {
    font-weight: bold;
    font-size: 16px;
    line-height: 21.54px;
    text-align: right;
    color: #005689;
    border-bottom: 1px dashed #005689;
    padding: 16px 8px; }
    .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
      background: none;
      border-color: #84939e; }

.btn-primary {
  background: #00C76D;
  border: 1px;
  padding-bottom: 10px;
  color: #fff;
  padding: 10px 20px;
  font-family: 'HelveticaNeueLTR', 'HelveticaNeueLT-Regular', Arial, sans-serif; }
  .btn-primary.rounded {
    border-radius: 20px !important; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #6D6E70 !important;
    box-shadow: none !important; }

.btn-secondary {
  background: #005689;
  border: none;
  padding-bottom: 10px;
  color: #fff;
  font-family: 'HelveticaNeueLTR', 'HelveticaNeueLT-Regular', Arial, sans-serif; }
  .btn-secondary.rounded {
    border-radius: 20px !important; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background: #6D6E70 !important;
    box-shadow: none !important; }

label {
  color: #505050;
  font-size: 15px; }

.form-control {
  background-color: #fff;
  border: solid 1px #E6E6E6;
  box-shadow: 0 3px 6px #00000029;
  line-height: 32px;
  min-height: 50px; }

.nav-pills .nav-link.active {
  background-color: #00C76D; }

.table {
  color: #505050;
  font-size: 17px; }

.table .thead-light th {
  background-color: #F2F2F2 !important;
  color: #505050 !important;
  font-size: 15px; }

.nav-tabs {
  border-bottom: 0;
  margin-bottom: 30px; }
  .nav-tabs .nav-item {
    margin-left: 20px; }
    .nav-tabs .nav-item .nav-link {
      font-weight: bold;
      color: #505050;
      font-size: 14px; }
      .nav-tabs .nav-item .nav-link.active {
        border: 0 !important;
        background: #005689;
        border-radius: 20px;
        color: #fff; }
      .nav-tabs .nav-item .nav-link:hover {
        border: 0 !important;
        background: #005689;
        border-radius: 20px;
        color: #fff; }

.card {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: solid 1px #D3D3D3;
  padding: 10px 0; }
  .card .card-header {
    background-color: transparent;
    border: 0; }
    .card .card-header .card-link {
      color: #505050;
      font-weight: bold; }
      .card .card-header .card-link i {
        background: #505050;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        color: #fff;
        font-size: 21px; }
      .card .card-header .card-link.colorful {
        color: #005689; }
        .card .card-header .card-link.colorful i {
          background: #015689;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          text-align: center;
          color: #fff;
          font-size: 21px; }
  .card .card-body {
    color: #505050; }

button {
  padding: 15px 60px 18px; }

.list-inline-item:not(:last-child) {
  margin-right: 0;
  margin-left: .5rem; }

.starred {
  color: #D58403; }

img.img-icon30 {
  width: 30px;
  height: 30px; }

img.img-icon50 {
  width: 50px;
  height: 50px; }

img.img-icon80 {
  width: 80px;
  height: 80px; }

img.img-icon120 {
  width: 120px;
  height: 120px; }

.btn-group {
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap; }

#socialShare .dropdown-menu {
  min-width: 120px;
  border: 0; }

#socialShare .dropdown-menu li {
  float: right;
  margin: 4px; }

.mobile-social-share ul {
  float: right;
  list-style: none outside none;
  margin: 0;
  min-width: 61px;
  padding: 0; }

.share {
  min-width: 17px; }

.mobile-social-share li {
  display: block;
  font-size: 18px;
  list-style: none outside none;
  margin-bottom: 3px;
  margin-left: 4px;
  margin-top: 3px; }

.btn-share {
  background-color: #BEBEBE;
  border-color: #CCCCCC;
  color: #333333; }

.btn-twitter {
  background-color: #3399CC !important;
  width: 51px;
  color: #FFFFFF !important; }

.btn-facebook {
  background-color: #3D5B96 !important;
  width: 51px;
  color: #FFFFFF !important; }

.btn-facebook {
  background-color: #3D5B96 !important;
  width: 51px;
  color: #FFFFFF !important; }

.btn-google {
  background-color: #DD3F34 !important;
  width: 51px;
  color: #FFFFFF !important; }

.btn-linkedin {
  background-color: #1884BB !important;
  width: 51px;
  color: #FFFFFF !important; }

.btn-pinterest {
  background-color: #CC1E2D !important;
  width: 51px;
  color: #FFFFFF !important; }

.btn-mail {
  background-color: #FFC90E !important;
  width: 51px;
  color: #FFFFFF !important; }

.caret {
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0; }

#socialShare > a {
  padding: 0;
  display: block !important; }

@media (max-width: 320px) {
  #socialHolder {
    padding-left: 5px;
    padding-right: 5px; }
  .mobile-social-share h3 {
    margin-left: 0;
    margin-right: 0; }
  #socialShare {
    margin-left: 5px;
    margin-right: 5px; }
  .mobile-social-share h3 {
    font-size: 15px; } }

@media (max-width: 238px) {
  .mobile-social-share h3 {
    font-size: 12px; } }

.rtl .dropdown-menu, [dir=rtl] .dropdown-menu {
  right: auto; }

div.custom-control-right {
  padding-right: 24px;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0; }

div.custom-control-right .custom-control-label::after {
  right: -1.5rem;
  left: auto; }

div.custom-control-right .custom-control-label::before {
  right: -2.35rem;
  left: auto; }

.custom-control-input:checked ~ .custom-control-label::before {
  color: #00EB80;
  border-color: #ffffff;
  background-color: #ffffff;
  border: solid 1px #C6C6C6;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #00EB80;
  transform: translateX(0.75rem); }

/* Header navbar */
header .main-header .navbar .navbar-brand {
  margin-left: 30px; }

header .main-header .navbar ul.navbar-nav li + .nav-item {
  margin-right: 5px; }

header .main-header .navbar ul.navbar-nav li {
  margin: 0; }
  header .main-header .navbar ul.navbar-nav li a.nav-link {
    font-size: 12px;
    color: #005689;
    font-weight: bold;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px; }
    header .main-header .navbar ul.navbar-nav li a.nav-link.active, header .main-header .navbar ul.navbar-nav li a.nav-link:hover {
      background: #00EB80;
      border-radius: 50px;
      color: #fff; }
  header .main-header .navbar ul.navbar-nav li.notification-item .dropdown-toggle {
    color: #005689;
    font-size: 22px;
    padding-top: 0;
    box-shadow: none; }
    header .main-header .navbar ul.navbar-nav li.notification-item .dropdown-toggle:after {
      display: none; }
    header .main-header .navbar ul.navbar-nav li.notification-item .dropdown-toggle .count {
      position: absolute;
      top: -5px;
      right: 0;
      border-radius: 50%;
      background: #D58403;
      width: 25px;
      height: 25px;
      font-size: 14px;
      line-height: 25px;
      color: #fff;
      text-align: center; }
  header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown {
    min-width: 300px;
    background: #fff;
    border: 0; }
    header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown .dropdown-item {
      border-bottom: solid 1px #EEEEEE; }
      header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown .dropdown-item.bg {
        background: #005689;
        border-bottom: 0;
        color: #fff; }
    header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown .img {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: solid 3px #F2F2F2;
      text-align: center;
      vertical-align: middle;
      line-height: 34px; }
      header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown .img img {
        width: 20px;
        height: 20px; }
    header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown h6 {
      font-size: 13px; }
      header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown h6 span {
        font-size: 11px;
        color: #505050; }
    header .main-header .navbar ul.navbar-nav li.notification-item .notification-dropdown p {
      color: #505050;
      font-size: 11px; }

header .main-header .navbar ul.login_menu li {
  margin: 0; }
  header .main-header .navbar ul.login_menu li a.nav-link {
    font-size: 12px;
    color: #505050;
    font-weight: bold;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px #E5E5E5; }
    header .main-header .navbar ul.login_menu li a.nav-link.active, header .main-header .navbar ul.login_menu li a.nav-link:hover {
      background: #005689;
      border-radius: 50px;
      color: #fff; }
    header .main-header .navbar ul.login_menu li a.nav-link.noborder {
      border: 0; }
      header .main-header .navbar ul.login_menu li a.nav-link.noborder.active, header .main-header .navbar ul.login_menu li a.nav-link.noborder:hover {
        background: none;
        border-radius: 50px;
        color: #005689; }

.front header {
  background: none;
  box-shadow: none; }

label.error {
  color: red;
  margin-top: 10px; }

.google-login a {
  background: #DD4B39;
  border: none;
  border-radius: 1px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #fff;
  margin-bottom: 50px; }
  .google-login a:hover {
    color: #fff; }

.paragrapgh-login {
  font-size: 11px;
  color: #5c5b5b; }

.modal h2 {
  color: #005689;
  font-size: 25px;
  position: relative; }

u {
  color: #005689;
  text-align: left; }

p {
  font-size: 16px; }

.form-inputs input {
  margin: 10px 0;
  box-shadow: 1px 2px 2px #00000029; }

input[type="checkbox"] {
  box-shadow: 1px 2px 2px #00000029; }

.or {
  text-align: center;
  font-size: 14px;
  margin-top: 10px; }

.btn-modal {
  background: #00C76D;
  font-family: 'HelveticaNeueLTR', 'HelveticaNeueLT-Regular', Arial, sans-serif;
  border-radius: 1px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 232px;
  color: #fff;
  text-align: center;
  margin-right: 120px; }
  .btn-modal:hover {
    background: #6D6E70;
    color: #fff; }

#features {
  padding: 30px auto; }
  #features .title h1 {
    color: #005689;
    font-size: 23px;
    position: relative; }
    #features .title h1:before, #features .title h1::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 49%;
      z-index: 1;
      width: 14px;
      height: 14px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      background: #00e689; }
    #features .title h1::after {
      right: 51%; }
  #features .image {
    background: #F7F7F7;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000029; }
  #features h2 {
    color: #005689;
    font-size: 16px; }
  #features p {
    color: #505050;
    font-size: 14px; }
  #features .item-of-features {
    margin-bottom: 30px; }

#memberships {
  background: #066FAD;
  width: 100%;
  float: right;
  font-size: 14px; }
  #memberships .inverse {
    background: #005689; }
  #memberships h2 {
    font-size: 25px; }
  #memberships p {
    font-size: 12px; }
  #memberships a {
    border-radius: 2px; }

#mix {
  background: #F8F8F8;
  width: 100%;
  float: right;
  font-size: 16px; }
  #mix .title h1 {
    color: #005689;
    font-size: 25px;
    position: relative; }
    #mix .title h1:before, #mix .title h1::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 49%;
      z-index: 1;
      width: 14px;
      height: 14px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      background: #00e689; }
    #mix .title h1::after {
      right: 51%; }
  #mix h2 {
    font-size: 25px;
    color: #005689; }
  #mix p {
    font-size: 14px;
    color: #505050; }

#stories {
  background: #fff;
  width: 100%;
  float: right;
  font-size: 16px; }
  #stories .title h1 {
    color: #005689;
    font-size: 25px;
    position: relative; }
    #stories .title h1:before, #stories .title h1::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 49%;
      z-index: 1;
      width: 14px;
      height: 14px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      background: #00e689; }
    #stories .title h1::after {
      right: 51%; }
  #stories .story {
    border: solid 1px #E3E3E3;
    box-shadow: 0 3px 16px #00000029; }
    #stories .story h2 {
      color: #000000;
      font-size: 18px; }
    #stories .story p {
      font-size: 14px;
      color: #5c5b5b; }
    #stories .story .btn-a {
      background: #00C76D;
      border: 1px;
      width: 300px;
      padding-bottom: 10px;
      color: #fff;
      font-family: 'HelveticaNeueLTR', 'HelveticaNeueLT-Regular', Arial, sans-serif; }
      #stories .story .btn-a:hover {
        background: #6D6E70; }

.slider {
  background: #005689 url("../images/slider-bg.png");
  background-repeat: no-repeat;
  background-size: contain; }
  .slider h2 {
    font-size: 40px;
    color: #fff;
    position: relative; }
    .slider h2:before, .slider h2::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0px;
      z-index: 1;
      width: 14px;
      height: 14px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-clip: padding-box;
      background: #00e689; }
    .slider h2::after {
      right: 22px; }

#search-bar .container {
  background: rgba(255, 255, 255, 0.49);
  box-shadow: 0 3px 26px rgba(0, 0, 0, 0.33);
  border-radius: 5px; }
  #search-bar .container .row {
    background: #fff;
    border-radius: 5px; }
    #search-bar .container .row .form-control {
      border: 0;
      border-radius: 0;
      height: 52px;
      box-shadow: none;
      color: #8E8E8E; }
    #search-bar .container .row select.form-control {
      border-right: solid 1px #BFBFBF; }

#search-bar .search-bar-field {
  padding-right: 40px; }

#search-bar .icon-search-bar {
  position: absolute;
  top: 19px;
  right: 27px; }

#footer {
  width: 100%;
  float: right;
  background: #F8F8F8; }
  #footer .widget h2 {
    color: #005689;
    font-size: 14px; }
  #footer .widget ul li {
    line-height: 35px; }
    #footer .widget ul li a {
      font-size: 12px;
      color: #444444;
      padding-right: 25px;
      position: relative; }
      #footer .widget ul li a:before {
        content: "";
        position: absolute;
        right: 0;
        top: 14px;
        width: 10px;
        height: 10px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        background: #00e689; }
  #footer .widget .form-control {
    box-shadow: none !important;
    font-size: 12px; }
    #footer .widget .form-control:focus {
      box-shadow: none; }
  #footer p {
    font-size: 12px; }
    #footer p.copyright {
      color: #005689;
      font-weight: bold; }
  #footer ul.sociel li {
    font-size: 12px; }
    #footer ul.sociel li a {
      font-size: 12px;
      color: #444444; }
  #footer .payment-method-img {
    margin-left: 15px; }
  #footer .copyrights {
    background: #EFEFEF; }

.rtl .mr-auto, [dir=rtl] .mr-auto, .rtl .ml-auto, [dir=rtl] .ml-auto {
  margin-right: 0 !important;
  padding-right: 0 !important; }
